<div class="container-fluid">
    <div class="row" style="margin-top: 18vh;">
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <div class="row">
                    <div class="col-6" >
                        <img src="assets/images/Illustrator-icon.gif" class="w-100" alt="">
                    </div>
                </div>
                <h3 style="margin-top: 5vh;font-size: 4vh; font-family: Poppins, sans-serif;">UI/UX Design</h3>
                <ul style="list-style: none;font-size: 2.4vh;">
                    <li style="margin-top: 5vh;">Landing pages</li>
                    <li style="margin-top: 4vh;">User Flow</li>
                    <li style="margin-top: 4vh;">Wireframing</li>
                    <li style="margin-top: 4vh;">Prototyping</li>
                    <li style="margin-top: 4vh;">Mobile App Design</li>
                </ul>
            </div>
        </div>
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/images/Illustrator-icon.gif" class="w-100" alt="">
                    </div>
                </div>
                <h3 style="margin-top: 5vh;font-size: 4vh; font-family: Poppins, sans-serif;">Development</h3>
                <ul style="list-style: none;font-size: 2.4vh;">
                    <li style="margin-top: 5vh;">HTML/CSS</li>
                    <li style="margin-top: 4vh;">JavaScript</li>
                    <li style="margin-top: 4vh;">Animation</li>
                    <li style="margin-top: 4vh;">WordPress</li>
                    <li style="margin-top: 4vh;">React</li>
                </ul>
            </div>
        </div>
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <div class="row">
                    <div class="col-6" >
                        <img src="assets/images/Illustrator-icon.gif" class="w-100" alt="">
                    </div>
                </div>
                <h3 style="margin-top: 5vh;font-size: 4vh; font-family: Poppins, sans-serif;">Illustration</h3>
                <ul style="list-style: none;font-size: 2.4vh;">
                    <li style="margin-top: 5vh;">Character Design</li>
                    <li style="margin-top: 4vh;">Icon Set</li>
                    <li style="margin-top: 4vh;">Illustration Guide</li>
                    <li style="margin-top: 4vh;">Illustration Set</li>
                    <li style="margin-top: 4vh;">Motion Graphic</li>
                </ul>
            </div>
        </div>
    </div>
</div>