<div class="container-fluid">
    <div class="row" style="margin-top: 18vh;">
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <!-- <img src="assets/images/moon.gif" alt=""> -->
                <h3>UI/UX Design</h3>
                <h6 style="margin-top: 5vh;">Landing pages</h6>
                <h6 style="margin-top: 4vh;">User Flow</h6>
                <h6 style="margin-top: 4vh;">Wireframing</h6>
                <h6 style="margin-top: 4vh;">Prototyping</h6>
                <h6 style="margin-top: 4vh;">Mobile App Design</h6>
            </div>
        </div>
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <!-- <img src="assets/images/moon.gif" alt=""> -->
                <h3>Development</h3>
                <h6 style="margin-top: 5vh;">HTML/CSS</h6>
                <h6 style="margin-top: 4vh;">JavaScript</h6>
                <h6 style="margin-top: 4vh;">Animation</h6>
                <h6 style="margin-top: 4vh;">WordPress</h6>
                <h6 style="margin-top: 4vh;">React</h6>
            </div>
        </div>
        <div class="col-4" style="padding: 3vh;">
            <div class="bg" style="padding: 10vh;">
                <!-- <img src="assets/images/moon.gif" alt=""> -->
                <h3>Illustration</h3>
                <h6 style="margin-top: 5vh;">Character Design</h6>
                <h6 style="margin-top: 4vh;">Icon Set</h6>
                <h6 style="margin-top: 4vh;">Illustration Guide</h6>
                <h6 style="margin-top: 4vh;">Illustration Set</h6>
                <h6 style="margin-top: 4vh;">Motion Graphic</h6>
            </div>
        </div>
    </div>
</div>