<div class="row">
    <div class="col-12" style="background-color: #2A2C39; padding-bottom: 20vh;">
        <div class="row" >
            <div class="col-10 mx-auto" style="margin-top: 20vh;">
                <div class="row">
                    <div class="col-3">
                        <h5>|| Awesome Portfolio</h5>
                    </div>
                    <div class="col-11" style="margin-top: 5vh;">
                        <h1>My Complete Projects</h1>
                    </div>
                </div>
                <div class="row" style="margin-top: 5vh;"> 
                    <div class="col-6" >
                        <div style="background-color: #252734; padding: 10vh;">
                            <img src="assets/images/yeti.png" class="w-100" alt="">
                            <h6 style="font-size: 4vh; margin-top: 3vh;">
                                Visit Site:
                                <a style="text-decoration: none; color: #9294a0; font-size: 3.5vh;" href="http://yetistrongclub.io">Yeti Strong Club</a>
                            </h6>
                        </div>
                    </div>
                    <div class="col-6" >
                        <div style="background-color: #252734; padding: 10vh;">
                            <img src="assets/images/pengwyn.png" class="w-100" alt="">
                            <h6 style="font-size: 4vh; margin-top: 3vh;">
                                Visit Site:
                                <a style="text-decoration: none; color: #9294a0; font-size: 3.5vh;" href="http://pengwyn.io">Pengwyn Home</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>