<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto" style="margin-top: 15vh;">
            <div class="row">
                <div class="col-6">
                    <h6 style="font-size: 3vh;">|| Special Skills
                    </h6>
                    <h1 style="font-size: 10vh; margin-top: 5vh;">My Special Skill Field Here.
                    </h1>
                    <span class="btn btn-outline-secondary" style="margin-top: 10vh;">Get Resume >></span>
                </div>
            </div>

            <!-- add carousel here  -->
        </div>
    </div>
</div>