<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto" style="margin-top: 15vh;">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="profile-skills">
                        <div>
                            <ul class="skills skills1">
                                <div class="row">
                                    <div class="col-6">
                                        <h6 style="font-size: 3vh;">|| Special Skills
                                        </h6>
                                        <h1 style="font-size: 10vh; margin-top: 5vh;">My Special Skill Field Here.
                                        </h1>
                                        <span class="btn btn-outline-secondary" style="margin-top: 10vh;">Get Resume
                                            >></span>
                                    </div>
                                    <div class="col-6">
                                        <li class="sk-cms" style="font-size: 5vh;" ><span>Communication</span></li>
                                        <li class="sk-dtb" style="font-size: 5vh;"><span>Leadership</span></li>
                                        <li class="sk-dis" style="font-size: 5vh;"><span>Team Work</span></li>
                                        <li class="sk-pro" style="font-size: 5vh;"><span>Flexibility</span></li>
                                        <!-- <li class="sk-ani" style="font-size: 5vh;"><span>Animation</span></li> -->
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>