<div class="container-fluid">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-10 mx-auto">
            <div class="row align-items-center justify-content-between">
                <div class="col-2">
                    <img src="assets/images/logo.png" class="w-75" alt="">
                </div>
                <div class="col-10">
                    <div class="row justify-content-end">
                        <div class="col-10 text-end">
                            <span class="pointer" style="margin-right: 7vh; ">Home</span>
                            <span class="pointer" style="margin-right: 7vh; ">Portfolio</span>
                            <span class="pointer" style="margin-right: 7vh; ">Services</span>
                            <span class="pointer" style="margin-right: 7vh; ">About Us</span>
                            <span class="pointer" style="margin-right: 7vh; ">Contact Us</span>
                            <span class="btn btn-outline-secondary"
                                >Hire Me >></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>