<div class="container-fluid" style="background: black; padding: 1vh;">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="row align-items-center justify-content-between">
                <div class="col-1">
                    <img src="assets/images/logo.png" class="w-100" alt="">
                </div>
                <div class="col-11 d-flex justify-content-end align-items-center">
                    <span class="pointer" style="margin-right: 5vh;">Home</span>
                    <span class="pointer" style="margin-right: 5vh;">Portfolio</span>
                    <span class="pointer" style="margin-right: 5vh;">Services</span>
                    <span class="pointer" style="margin-right: 5vh;">About Us</span>
                    <span class="pointer" style="margin-right: 5vh;">Contact Us</span>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-outline-secondary w-100"
                                style="border-radius: 2vh; color: white;">Hire Me >></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>