span{
    font-size: 2.8vh !important;
 
}
span:hover{
    color: #F79F20;
}
.btn-outline-secondary{
    border: .1vh solid #F79F20 !important;
    font-size: 2.8vh;
    padding: 4vh;
    border-radius: 5vh; 
    color: white;
}
.btn-outline-secondary:hover{
    background-color:  #F79F20 !important;
    color: black !important;
}