<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="row align-items-center">
                <div class="col-6">
                    <h1 style="font-size: 8vh;">Hello! I,m</h1>
                    <h1 style="font-size: 10vh;">Hamayoun Babar</h1>
                    <h5 style="font-size: 4vh; margin-top: 10vh;">Front-End Web Development specializing in Angular,
                        React & Shopify. </h5>
                    <span class="btn btn-outline-secondary" style="margin-top: 10vh;">Get Resume >></span>
                </div>
                <div class="col-6">
                    <img src="assets/images/owner-img.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>
    <app-services></app-services>
    <app-my-skills></app-my-skills>
</div>