<div class="row"  style="margin-top: 10vh;">
    <div class="col-12 text-center" style="background-color: #282a37;">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/user.png" alt="">
                            </div>
                            <div class="col-6">
                                <h1 class="m-0 p-0">258+</h1>
                                <h6 style="margin-top: 5vh;">Happy Clients</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/setting.png" alt="">
                            </div>
                            <div class="col-6">
                                <h1 class="m-0 p-0">590K</h1>
                                <h6 style="margin-top: 5vh;">Project Complete</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/calendar.png" alt="">
                            </div>
                            <div class="col-6">
                                <h1 class="m-0 p-0">28+</h1>
                                <h6 style="margin-top: 5vh;">Years Of Experience</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>