<div class="row"  style="margin-top: 10vh;">
    <div class="col-12 " style="background-color: #282a37;">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center justify-content-start">
                            <div class="col-3">
                                <div >
                                    <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/user.png" alt="">
                                </div>
                            </div>
                            <div class="col-6" style="font-family: Poppins, sans-serif;">
                                <h1 style="font-size: 7vh;">258+</h1>
                                <h6 style="margin-top: 5vh; font-size: 2vh;">Happy Clients</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-3">
                                <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/setting.png" alt="">
                            </div>
                            <div class="col-6" style="font-family: Poppins, sans-serif;">
                                <h1 style="font-size: 7vh;">590K</h1>
                                <h6 style="margin-top: 5vh; font-size: 2vh;">Project Complete</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding: 5vh;">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-3">
                                <img class="border border-secondary rounded" style="width: 9vh;" src="assets/images/calendar.png" alt="">
                            </div>
                            <div class="col-6" style="font-family: Poppins, sans-serif;">
                                <h1 style="font-size: 7vh;">28+</h1>
                                <h6 style="margin-top: 5vh; font-size: 2vh;">Years Of Experience</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>