<div class="row">
    <div class="col-12" style="background-color: #252734; padding-top: 20vh; padding-bottom: 20vh;">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/images/review1.jpg" class="w-100" alt="">
                    </div>
                    <div class="col-6">
                        <img src="assets/images/review1.jpg" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>